<%= form_for(@situation) do |f| %>
  <% if @situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

      <ul>
      <% @situation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:oid] && params[:obutton] %>
    <input type="hidden" name="oid" value="<%= params[:oid] %>" />
    <input type="hidden" name="obutton" value="<%= params[:obutton] %>" />
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :sit_rep %>
    <%= f.text_area :sit_rep %>
  </div>

  <div class="field">
    <label for='situation_ending'>Check if this is the end of a story</label>
    <%= f.check_box :ending %>
  </div>

  <div id="choices" style="<% if @situation.ending %>display:none;<% end %>">

    <div class="field">
      <%= f.label :choice_1_label %>
      <%= f.text_field :choice_1_label %>
    </div>

    <div class="field">
        <%= f.label :choice_1 %>
        <select name="situation[choice_1]">
          <option value="" disabled selected>Select your next situation</option>
          <% @situations.each do |situation| %>
            <option value="<%= situation.id %>"<% if @situation.choice_1 == situation.id %> SELECTED<% end %>><%= situation.id %> - <%= situation.title %></option>
          <% end %>
          <option value="0">New Situation</option>
        </select>
    </div>

    <div class="field">
      <%= f.label :choice_2_label %>
      <%= f.text_field :choice_2_label %>
    </div>

    <div class="field">
      <%= f.label :choice_2 %>
      <select name="situation[choice_2]">
        <option value="0" disabled selected>Select your next situation</option>
        <% @situations.each do |situation| %>
          <option value="<%= situation.id %>"<% if @situation.choice_2 == situation.id %> SELECTED<% end %>><%= situation.id %> - <%= situation.title %></option>
        <% end %>
        <option value="0">New Situation</option>
      </select>
    </div>
  </div>

  <div class="actions">
    <%= f.submit(:class => "button") %>
  </div>
<% end %>
