<p id="notice"><%= notice %></p>

<h1>Listing Situations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sit rep</th>
      <th>Choice 1</th>
      <th>Choice 1 label</th>
      <th>Choice 2</th>
      <th>Choice 2 label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.title %></td>
        <td><%= situation.sit_rep.truncate(25) %></td>
        <td><%= situation.choice_1 %></td>
        <td><%= situation.choice_1_label.truncate(25) %></td>
        <td><%= situation.choice_2 %></td>
        <td><%= situation.choice_2_label.truncate(25) %></td>
        <td><%= link_to 'Show', situation %></td>
        <td><%= link_to 'Edit', edit_situation_path(situation) %></td>
        <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Situation', new_situation_path %>
