<div class="row">
  <h1>New Situation</h1>

  <% if params[:oid] && params[:obutton] %>
    <div data-alert class="alert-box secondary radius">
      You hit a choice that has not been created yet, now you control the story...OR you can
    <a href="/situations/1" id="startover">
      Start Over
    </a>
    </div>

    <div data-alert class="alert-box info radius">
      The situation that you create here will decide what takes the place of the button you clicked on! You decide!  After "<%= Situation.find(params[:oid]).sit_rep %>" What happens after someone selects "
      <% if params[:obutton] == '1'%>
        <%= Situation.find(params[:oid]).choice_1_label%>
      <% else %>
        <%= Situation.find(params[:oid]).choice_2_label%>
      <% end %>
      "?
    </div>
  <% end %>

  <%= render 'form' %>
  <% if current_user.admin? %>
    <%= link_to 'Situation List', situations_path %>
  <% end %>
</div>
