<p id="notice"><%= notice %></p>

<div class="row text-center">
  <h1><%= @situation.title %></h1>
  <p>
    <%= @situation.sit_rep %>
  </p>
</div>

<% unless @situation.ending %>
<div class="row text-center">
  <a href="./<%= @situation.choice_1 %>" class="button" id="choice1">
    <%= @situation.choice_1_label %>
  </a>

  <a href="./<%= @situation.choice_2 %>" class="button" id="choice2">
    <%= @situation.choice_2_label %>
  </a>
</div>
<% end %>

<%= link_to 'Edit', edit_situation_path(@situation) %> |
<%= link_to 'Situation List', situations_path %>
