<div class="row text-center">
  <h1><%= @situation.title %></h1>
  <p>
    <%= @situation.sit_rep %>
  </p>
</div>

<div class="row text-center">
  <% unless @situation.ending %>
    <a href="./<%= @choice_1 %>" class="button" id="choice1">
      <%= @choice_1_label %>
    </a>

    <a href="./<%= @choice_2 %>" class="button" id="choice2">
      <%= @choice_2_label %>
    </a>
  <% end %>

  <% if @situation.ending %>
    <a href="/1" class="button" id="startover">
      Start Over
    </a>
    <div class="row text-center">
      <a href="/game" class="button success" id="startover">
        A different game
      </a>
    </div>
  <% end %>
</div>
